Flow 5.2.json
[
    {
        "id": "278c510aae33b973",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "62b6c4f7387c55ad",
        "type": "http request",
        "z": "278c510aae33b973",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=32.614443&lon=-115.371882&appid=d0b90f6eef4278da5ceb6b8788675498&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "ea2e7fca3956eb0b"
            ]
        ]
    },
    {
        "id": "ea2e7fca3956eb0b",
        "type": "json",
        "z": "278c510aae33b973",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "33525815eb875a02",
                "6043543334d11051",
                "d6c7a5540a8dd30f"
            ]
        ]
    },
    {
        "id": "ce41a054caab3b67",
        "type": "inject",
        "z": "278c510aae33b973",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "62b6c4f7387c55ad",
                "34ffc41da55abf70"
            ]
        ]
    },
    {
        "id": "6043543334d11051",
        "type": "function",
        "z": "278c510aae33b973",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 40,
        "wires": [
            [
                "5e331f3c8c38d7b2"
            ]
        ]
    },
    {
        "id": "33525815eb875a02",
        "type": "function",
        "z": "278c510aae33b973",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 100,
        "wires": [
            [
                "ed207e9ed04bfe28"
            ]
        ]
    },
    {
        "id": "5e331f3c8c38d7b2",
        "type": "ui_gauge",
        "z": "278c510aae33b973",
        "name": "",
        "group": "6a83e0793fa53b7c",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 40,
        "wires": []
    },
    {
        "id": "ed207e9ed04bfe28",
        "type": "ui_gauge",
        "z": "278c510aae33b973",
        "name": "",
        "group": "6a83e0793fa53b7c",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "505381017ff0ef80",
        "type": "mqtt in",
        "z": "278c510aae33b973",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "97a5de159396a173",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "b2ac3083f425e180"
            ]
        ]
    },
    {
        "id": "b2ac3083f425e180",
        "type": "json",
        "z": "278c510aae33b973",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 400,
        "wires": [
            [
                "1027af2350189481",
                "bcac946d5419bc02",
                "a1f1639fbd430d14",
                "65ac4a71331c4017"
            ]
        ]
    },
    {
        "id": "1027af2350189481",
        "type": "function",
        "z": "278c510aae33b973",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 300,
        "wires": [
            [
                "d2a9191a9a1dfcc6"
            ]
        ]
    },
    {
        "id": "d2a9191a9a1dfcc6",
        "type": "ui_chart",
        "z": "278c510aae33b973",
        "name": "",
        "group": "3d8ffe66b994b9c3",
        "order": 1,
        "width": 12,
        "height": 5,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bcac946d5419bc02",
        "type": "function",
        "z": "278c510aae33b973",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 360,
        "wires": [
            [
                "86d8267695b4c274"
            ]
        ]
    },
    {
        "id": "86d8267695b4c274",
        "type": "ui_chart",
        "z": "278c510aae33b973",
        "name": "",
        "group": "3d8ffe66b994b9c3",
        "order": 2,
        "width": 12,
        "height": 5,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "212f7e46f5beadd9",
        "type": "inject",
        "z": "278c510aae33b973",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "36fecfb3d5d2eb88"
            ]
        ]
    },
    {
        "id": "36fecfb3d5d2eb88",
        "type": "function",
        "z": "278c510aae33b973",
        "name": "Temperatura",
        "func": "msg.payload = '{\"id\":\"Ernesto\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+',\"uv\":'+global.get (\"uvFlow5\")+',\"aqi\":'+global.get (\"aqi\")+'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 600,
        "wires": [
            [
                "c971fc92f86dfeed"
            ]
        ]
    },
    {
        "id": "c971fc92f86dfeed",
        "type": "mqtt out",
        "z": "278c510aae33b973",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "97a5de159396a173",
        "x": 940,
        "y": 600,
        "wires": []
    },
    {
        "id": "d6c7a5540a8dd30f",
        "type": "function",
        "z": "278c510aae33b973",
        "name": "UV",
        "func": "msg.payload = msg.payload.current.uvi;\nglobal.set (\"uvFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 160,
        "wires": [
            [
                "e735a6539c190754"
            ]
        ]
    },
    {
        "id": "e735a6539c190754",
        "type": "ui_gauge",
        "z": "278c510aae33b973",
        "name": "",
        "group": "6a83e0793fa53b7c",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "UV",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#4e9a06",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "34ffc41da55abf70",
        "type": "http request",
        "z": "278c510aae33b973",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/air_pollution?lat=32.614443&lon=-115.371882&appid=d0b90f6eef4278da5ceb6b8788675498&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "77fbb16439f3f90f"
            ]
        ]
    },
    {
        "id": "77fbb16439f3f90f",
        "type": "json",
        "z": "278c510aae33b973",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "2d4f119f0ea9dd7d"
            ]
        ]
    },
    {
        "id": "2d4f119f0ea9dd7d",
        "type": "function",
        "z": "278c510aae33b973",
        "name": "Calidad del aire",
        "func": "msg.payload = msg.payload.list[0].main.aqi;\nglobal.set (\"aqi\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 220,
        "wires": [
            [
                "6aa38909fddf6cd3"
            ]
        ]
    },
    {
        "id": "6aa38909fddf6cd3",
        "type": "ui_gauge",
        "z": "278c510aae33b973",
        "name": "",
        "group": "6a83e0793fa53b7c",
        "order": 4,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Calidad del aire",
        "label": "PPM",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#4e9a06",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "3",
        "seg2": "4",
        "className": "",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "a1f1639fbd430d14",
        "type": "function",
        "z": "278c510aae33b973",
        "name": "UV",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 440,
        "wires": [
            [
                "3b3177bd47bbab90"
            ]
        ]
    },
    {
        "id": "65ac4a71331c4017",
        "type": "function",
        "z": "278c510aae33b973",
        "name": "Calidad del aire",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 500,
        "wires": [
            [
                "152b59be7440102b"
            ]
        ]
    },
    {
        "id": "3b3177bd47bbab90",
        "type": "ui_chart",
        "z": "278c510aae33b973",
        "name": "",
        "group": "3d8ffe66b994b9c3",
        "order": 3,
        "width": 12,
        "height": 5,
        "label": "UV",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "152b59be7440102b",
        "type": "ui_chart",
        "z": "278c510aae33b973",
        "name": "",
        "group": "3d8ffe66b994b9c3",
        "order": 4,
        "width": 12,
        "height": 5,
        "label": "Calidad del aire",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "6a83e0793fa53b7c",
        "type": "ui_group",
        "name": "Información Personal",
        "tab": "5494aae8ee8fb182",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "97a5de159396a173",
        "type": "mqtt-broker",
        "name": "Broker HiveMQ G7",
        "broker": "18.157.172.72",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3d8ffe66b994b9c3",
        "type": "ui_group",
        "name": "General",
        "tab": "5494aae8ee8fb182",
        "order": 2,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5494aae8ee8fb182",
        "type": "ui_tab",
        "name": "Flow5",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]